.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-whatsapp {
  transform: translate(0, 0); /* Ajusta esta línea si es necesario */
}

// Adjust the hero section background color to match the logo's background
.hero-section {
  background-color: #000; // Cambia esto al color exacto del fondo de tu logo
  height: 90vh;
}

// Adjust the logo size
.logo {
  max-width: 300px; // O el tamaño que prefieras
  height: auto;
  margin-bottom: 1rem;
}
